@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 600px;
    background-color: #161616;
}

#logo {
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-left: 0;
    font-size: 1rem;
    letter-spacing: 0.22rem;
    line-height: 1.2rem;
}

#navbar {
    height: 96px;
    display: flex;
    justify-content: space-around;
    color:#fff;
    align-items: center;
}

#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.1rem;
}

#adress {
    font-size: 1.1rem;
}

#btn {
    width: 215px;
    height: 60px;
    background-color: #FFE500;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    border: none;
}
#hero {
    margin-bottom: 130px;
}

#hero p {
    width: 525px;
    height: 120px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 140px;
    color: #fff;
    letter-spacing: 0.12rem;
}

#hero img {
    position: absolute;
    top: 178px;
    right: 0;
}

#paginator {
    font-size: 1.5rem;
    position: absolute;
    top: 389px;
    left: 750px;
    z-index: 99;
}

#paginator::before {
    content: '←';
    position: relative;
    left: -20px;
}

#paginator::after {
    content: '→';
    position: relative;
    right: -20px;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1860px;
    width: 100%;
    background-color: #f1f2f5;
    margin-bottom: 100px;
}

#features h2 {
    margin-top: 215px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.9rem;
}

#features-grid {
    display: flex;
    flex-wrap: wrap;    
}

.feature {
    width: 370px;
    height: 460px;
    margin-right: 15px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 30px 80px 0px rgba(0,0,0,0.10325);
    -moz-box-shadow: 0px 30px 80px 0px rgba(0,0,0,0.10325);
    box-shadow: 0px 30px 80px 0px rgba(0,0,0,0.10325);
}

.feature-name {
    background-color: #fff;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    height: 115px;
    display: inline-block;
}

#advantages {
    display: flex;
    flex-direction: column;
}

#advantages h2 {
    margin-bottom: 85px;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.9rem;
}

#advantages-grid {
    width: 900px;
    height: 500px;
    margin-left: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.advantage {
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.advantage-number {
    font-size: 1.7em;
    line-height: 1.75em;
    font-weight: 600;
    width: 50px;
    height: 50px;
    background-color: #ffe500;
    text-align: center;
    letter-spacing: 3px;
}

.advantage p {
    text-align: left;
    font-size: 1.33rem;
    line-height: 1.55rem;
    font-weight: 600;
    white-space: pre-line;
    margin-left: 30px;
}



#warehouse-rent {
    background-color: #161616;
    height: 600px;
    width: 100%;
}