body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-size: 12px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}
header,
section,
footer {
    width: 100%;
}

header {
    height: 600px;
    background-color: #161616;
}

#logo {
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-left: 0;
}

#navbar {
    height: 96px;
    display: flex;
    justify-content: space-around;
    color:#fff;
    align-items: center;
}

#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.25em;
}

#adress {
    font-size: 1.1em;
}

#btn {
    width: 215px;
    height: 60px;
    background-color: #FFE500;
    font-size: 1.5em;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    border: none;
}
#hero {
    margin-bottom: 130px;
}

#hero p {
    width: 525px;
    height: 120px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    margin-top: 140px;
    color: #fff;
    letter-spacing: 0.12em;
}

#hero img {
    position: absolute;
    top: 178px;
    right: 0;
}

#paginator {
    font-weight: 18px;
    position: absolute;
    top: 389px;
    left: 750px;
    z-index: 99;
}

#paginator::before {
    content: '←';
    position: relative;
    left: -20px;
}

#paginator::after {
    content: '→';
    position: relative;
    right: -20px;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1860px;
    width: 100%;
    background-color: #f1f2f5;
}

#features h2 {
    margin-top: 215px;
    margin-bottom: 50px;
    text-align: center;
}

#features-grid {
    display: flex;
    flex-wrap: wrap;    
}

.feature {
    width: 370px;
    height: 460px;
    margin-right: 15px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.102355);
}

.feature-name {
    background-color: #fff;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    height: 115px;
    display: inline-block;
}

#warehouse-rent {
    background-color: #161616;
    height: 600px;
    width: 100%;
}